.calendar-list

    .ul-title Мои календари
    ul#my-calendars
        li Календарь 1
        li Календарь 2
        li Календарь 3

    .ul-title Другие календари
    ul#shared-calendars
        li Новогодний календарь
        li Дни рождения
        li Производственный календарь
        li Праздники