.modules-nav
    ul#modules-list
        li.nav-todo-list
            span.icon
            span.text To Do list
        li.nav-routes
            span.icon
            span.text Маршрут на сегодня
        li.nav-goals
            span.icon
            span.text Цели
        li.nav-daily
            span.icon
            span.text Режим дня
        li.nav-objects
            span.icon
            span.text Объекты
        li.nav-notes
            span.icon
            span.text Заметки
        li.nav-stats
            span.icon
            span.text Статистика