.small-calendar
    .calendar-header.clearfix
        #sc-prev-month
        #sc-next-month
        .calendar-title
            span#sc-month
            span &nbsp;
            span#sc-year
    table#small-calendar
        thead
            tr
                th П
                th В
                th С
                th Ч
                th П
                th С
                th В