.event-container
    position absolute
    width 100px
    height 20px
    left 0
    top 0
    background-color gray
    cursor pointer
    z-index 10
    .resize-ancor
        position absolute
        left 5%
        right 5%
        bottom 5px
        margin auto
        height 5px
        border-top 1px solid gold
        border-bottom 1px solid gold
        cursor ns-resize