.modules-nav
    padding-top 20px
    li
        color #767676
        line-height 32px
        cursor pointer
        padding 0 15px
        display flex
        align-items center
        &:hover
            background-color #f5f5f5
            color #2a2a2a
    .icon
        display inline-block
        vertical-align middle
        width 16px
        height 16px
        flex 0 0 16px
        background url('../img/list-icon.png') center no-repeat
        margin-right 10px
        cursor pointer
    .text
        vertical-align middle
        cursor pointer
        text-overflow ellipsis
        overflow hidden
        white-space nowrap
    .nav-routes
        .icon
            background-image url('../img/location-icon.png')
    .nav-goals
        .icon
            background-image url('../img/target-icon.png')
    .nav-daily
        .icon
            background-image url('../img/clock-icon.png')
    .nav-objects
        .icon
            background-image url('../img/house-icon.png')
    .nav-notes
        .icon
            background-image url('../img/pencil-icon.png')
    .nav-stats
        .icon
            background-image url('../img/chart-icon.png')