.small-calendar
    padding 5px 15px 0 20px
    .calendar-title
        text-align center
        line-height 25px
        font-size 12px
#small-calendar
    color red
    width 100%
    color #2a2a2a
    th
        color #4044b6
    th, td
        width 14.285%
        line-height 26px
        text-align center
        border-radius 50%
    td:hover
        background-color #cfcfcf
    .current-day
        background-color #4044b6
        color white
#sc-prev-month
    float left
    background url('../img/arrow-left.png') center no-repeat
    width 20px
    height 25px
    cursor pointer
#sc-next-month
    float right
    background url('../img/arrow-right.png') center no-repeat
    width 20px
    height 25px
    cursor pointer